body {
    background-color: yellow;
}

h1 {
    color: aqua;
    font-size: 300%;
    font-family: 'Times New Roman';
}

p {
    border: 2px solid rebeccapurple;
    padding: 30px;

    margin: 50px;

    color: red;
    font-family: 'Courier New';
    font-size: 160%;
}

h3 {
    border: 2px solid powderblue
}